PORT=3000
DISCORD_TOKEN="<DISCORD_TOKEN>"
# user --> username of PG
# pass --> password of PG
# dbname --> name of database

DATABASE_URL="postgresql://user:pass@host.containers.internal:5432/dbname" # host.containers.internal=Podman change it to host.docker.internal in both docker-compose.yml and here if you wantto use docker instead of podman
CLIENT_ID="<BOT-Client/App ID>"
PRIVATE_IP="<your-pvt-ip>" # where the DB can be connected from

# TRANSLATOR_CHOICE --> 0 = Lingva | 1 = Libre
TRANSLATOR_CHOICE = 0 # Lingva is better so keep 0? default is 0 maybe
LINGVA_URL="<LingvaURL>/api" # optional default's to docker/podman portsystem
LIBRE_URL="<LibreURL>" # optional default's to docker/podman portsystem

# Channels --> You can make then in a single channel but keeping them seperate might be for better
REDEEM_CHANNEL="<REDEEM_LOGS_CHANNEL>"
RPS_CHANNEL="<<CHANNEL_ID_OF_RPS>"
BT_CHANNEL="<CHANNEL_ID_OF_BT>"
DICE_CHANNEL="<CHANNEL_ID_OF_DICE>"

# Rolls
BT1_ROLL_ID="<ROLE_ID_OF_BT1>"
BT2_ROLL_ID="<ROLE_ID_OF_BT2>"


# BT
BT1_HOUR=As it says it does the job #Integer
BT1_MINUTE=As it says it does the job #Integer
BT2_HOUR=As it says it does the job #Integer
BT2_MINUTE=As it says it does the job #Integer
NOTIFY_BT_BEFORE_TIME=<Time to notify extra before BT> #Optional | Integer | default-->10mins

# Redeem --> When you want the auto redeem to check for new codes and report
REDEEM_TIME_HOUR=As it says it does the job #Integer
REDEEM_TIME_MINUTE=As it says it does the job #Integer